<!-- Re-usable Header Template -->
<%- include('includes/header') %>

<div class="container py-md-5 container--narrow">
  <!-- Flash messages re-usable template -->
  <%- include('includes/flash') %>

  <!-- Re-usable Profile Tabs -->
  <%- include('includes/profile-shared') %>

  <div class="list-group">
    <% following.forEach(followedUser => { %>
    <a
      href="/profile/<%= followedUser.username %>"
      class="list-group-item list-group-item-action"
    >
      <img class="avatar-tiny" src="<%= followedUser.avatar %>" />
      <%= followedUser.username %>
    </a>
    <% }) %>
  </div>
</div>

<!-- Re-usable Footer Template -->
<%- include('includes/footer') %>
